@font-face{
    font-family: 'twcenmt';
    src:url('../fonts/tcm/tcm.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

body{
    
    font-family: 'twcenmt', sans-serif;
    background-color: white;
}

header{
    font-size: 36px;
    background: url(../images/back.png) no-repeat center / cover; 
}

.container{
    color: white;
    height: 951px;
}

#logo{
    height: 140px;
    width: 81px;
    text-align: left;
    font-size: 24px;
    margin-left: 155px; 
}

#logoimg{
    margin-top: 20px;
}

nav{
    float: right;
    margin-top: 40px;
    margin-right: 365px;
}

nav>ul>il{
    margin-left: 52px;
}

#iphone{
    float: left;
    width: 303px;
    height: 607px;
    background: url(../images/iphone.png) no-repeat;
    margin-top: 32px;
    margin-left: 245px;
    margin-right: 55px;
}

#centerbox{
    padding-top: 150px;
}

h1{
    text-align: center;
    font-size: 80px;
}

h2{
    text-align: center;
    font-size: 36px;
}

#s9{
    float: right;
    width: 300px;
    height: 606px;
    background: url(../images/s9.png) no-repeat;
    margin-top: 32px;
    margin-right: 250px;
    margin-left: 55px;
}

#download{
    margin: 150px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about{
    background: white;
}

#abouttext{
    margin-top:150px;
    margin-left: 172px;
}

#why{
    display: block;
    font-size: 72px;
    color: black;
}

#write{
    font-size: 48px;
    color: #9f9f9f;
}

#featbtn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 438px;
    height: 118px;
    background:url(../images/features.png) no-repeat;
    color: white;
    font-size: 50px;
    margin-top: 89px;
}

iframe{
    float: right;
    margin-right: 41px;
}

#features{
    background: url(../images/back.png) no-repeat center / cover; 
    font-size: 100px;
    height: 951px;
}

#mf{
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#featnav{
    width: 1569px;
    height: 662px;
    margin: 0 auto;
}

#featnav>il>a>img{
    margin: 0 auto;
}

#featnav>il{
    padding: 0 auto;
    font-size: 80px;
    width: 498px;   
    height: 391px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}