@font-face{
    font-family: 'twcenmt';
    src:url('../fonts/tcm/tcm.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}


body{
    
    font-family: 'twcenmt', sans-serif;
    background-color: white;
}

header{
    padding-left:150px;
    padding-right: 365px;
    font-size: 36px;
    height: 950;
}

.container1{
    color: white;
    height: 951px;
    background: url(../images/back.png) no-repeat center / cover; 
}

#logo{
    height: 140px;
    width: 81px;
    text-align: center;
    font-size: 24px;
}

#logoimg{
    margin-top: 20px;
}

nav{
    float: right;
    margin-top: 40px;
}

nav>ul>il{
    margin-left: 52px;
}

#iphone{
    float: left;
    width: 303px;
    height: 607px;
    background: url(../images/iphone.png) no-repeat;
    color: #000;
    font-size: 31px;
    margin-top: 32px;
    margin-left: 50px;
}

#textbox{
}

h1{
    text-align: center;
    font-size: 80px;
}

h2{
    text-align: center;
    font-size: 36px;
}

#s9{
    float: right;
    width: 300px;
    height: 606px;
    background: url(../images/s9.png) no-repeat;
    color: #000;
    font-size: 31px;
    margin-top: 32px;
}